<div class="col-lg-8 col-lg-offset-2">
    <p>{{allUsersCtrl.pageTitle}}</p>

    <div style="min-height: 140px;" ui-grid="allUsersCtrl.gridOptions" id="pkgrid" ></div>


    <!-- <div class="row">ui-grid="{ data: allUsersCtrl.myData }"
        <div class="col-lg-12 well" ng-repeat="user in allUsersCtrl.users">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ufname">Name:</label><span>{{user.name}}</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ufname">Email:</label><span>{{user.email}}</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ufname">Department:</label><span>{{user.deptname}}</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ufname">Skills:</label><span ng-repeat="skill in user.skills">{{skill}}</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ufname">Languages:</label><span ng-repeat="language in user.languages">{{language}}</span>
                </div>
            </div>
        </div>
    </div> -->


</div>
