<div class="col-lg-8 col-lg-offset-2">
<p>{{registerCtrl.pageTitle}}</p>
</div>
<div class="col-lg-8 col-lg-offset-2 well">
    <form novalidate ng-submit='saveUser()' name='registrationForm'>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="ufname">Name:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="ufname" name="nufname" ng-model="user.fname" required="">
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nufname.$touched">
                    <div ng-show="registrationForm.nufname.$error.required" style="color: red;">Name is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="uemail">Email:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="email" class="form-control" id="uemail" name="nuemail" ng-model="user.email" required="">
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nuemail.$touched">
                    <div ng-show="registrationForm.nuemail.$error.required" style="color: red;">Email is Required.</div>
                    <div ng-show="registrationForm.nuemail.$error.email" style="color: red;">This is not a valid email.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="ugender">Gender:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-model="user.gender" value="M" required="">Male</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-model="user.gender" value="F" required="">Female</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-model="user.gender" value="N" required="">NTD</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.optradio.$touched">
                    <div ng-show="registrationForm.optradio.$error.required" style="color: red;">Gender is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="udept">Department:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <select class="form-control" id="udept" name="nDepts" ng-model="user.dept" required="">
                        <option value="">Select Department</option>
                        <option value="UI">UI</option>
                        <option value="SST">SST</option>
                        <option value="SDP">SDP</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nDepts.$touched">
                    <div ng-show="registrationForm.nDepts.$error.required" style="color: red;">Department is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="uskills">Skills:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="checkbox-inline" ng-repeat="skill in skillset">
                        <input type="checkbox" name="nSkills" ng-model="selectedSkills[skill.name]" value="{{skill.name}}" ng-change="skillSelected(selectedSkills[skill.name])" />{{skill.name}}
                    </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nSkills.$touched">
                    <div ng-show="registrationForm.nSkills.$error.required" style="color: red;">Skills is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="multi">Languages known:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <select multiple name="nLangs" ng-options="lang.name for lang in languages" ng-model="lang.name" ng-change="setInterestLang(lang.name)" class="form-control" required="">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nLangs.$touched">
                    <div ng-show="registrationForm.nLangs.$error.required" style="color: red;">Languages is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="desc">About:</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <textarea id="txtAbout" name="nabout" class="form-control" ng-model="user.about" required="">
                    </textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-show="registrationForm.$submitted || registrationForm.nabout.$touched">
                    <div ng-show="registrationForm.nabout.$error.required" style="color: red;">About is Required.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-4 col-lg-offset-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Register" id="saveUser" />
                    <input type="button" class="btn" value="Cancel" ng-click="resetForm()" id="cancelUser" />
                </div>
            </div>
        </div>
    </form>
</div>
